language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm-nightly

matrix:
    allow_failures:
        - php: hhvm-nightly

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install  --dev --no-interaction --prefer-source

script:
  - ./vendor/bin/phpunit

notifications:
    email: false
